.Home{
    width: 100vw;
    height: 100vh;
}
.welcome{
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#main{
    font-size: 20vh;
    color: white;
    font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
font-weight: normal; 
}
#main::first-letter{
    color: yellow;
}
#sub{
    font-size: 3vh;
    padding: 2rem;
    color:rgb(255, 255, 255);
    font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
font-weight: normal;
}

#detail{
    font-size: 15px;
}

@media only screen and (max-width: 480px) {
.welcome{
    
    margin-top: 40%;
    
}
#main{
    margin-left: 1rem;
    font-size: 15vh;
}
#sub{
   font-size: 16px;
   margin-top: 150px; 
   padding: 1rem;
}

}