#Nav-btn{
    
    background-color: transparent;
    border: none;
    padding: 2rem;
    font-size: 2vh;
    cursor: pointer;
    color: white;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}
.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
font-weight: normal;

}
.logo{
    margin-right: 2rem;
    margin-top: 2rem;
    color:white;
    cursor: pointer;
    font-size: 2vh;
}
@media only screen and (max-width: 480px) {
#Nav-btn{
    padding: 1rem;
    font-size: 16px
}
.logo{
    margin-top: 1rem;
    font-size: 16px;
    margin-right:1rem ;
}
}