*{
  margin: 0;
  padding: 0;
}
.bg{
  width: 100vw;
  height: 100vh;
}


.About{
  display: flex;
  
}
#profile{
  margin-left: 20%;
  margin-top: 8%;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  opacity: 0.8;
 
}
.About{
  display: flex;
}
.About-content{
  
  margin-top: 12%;
  padding: 2rem;
}
#greetings{
  font-size: 4vh;
  color: yellow;
}
#intro{
  margin-top: 1rem;
  font-size: 2.5vh;
  color: white;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
font-weight: normal;
}
.about{
  padding: 4rem;
}
#about-sub{
  font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
font-weight: normal;
font-size: 3vh;
color: wheat;
}


@media only screen and (max-width: 480px) {
  .logo{
    font-size: 12px ;
  }
  .bg{
    width: 100%;
    height: auto;
  }
  #profile{
    margin-left: 18%;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
    width: 15rem;
    border-radius: 50%;
  }
  #greetings{
    margin-left: 7rem;
    font-size: 5vh;
    display: flex;
  }
  .About-content{
    margin-top: 5%
  }
  .About{
    display: flex;
    flex-direction: column;
  }
  #intro{
    font-size: 20px;
    margin-left: 1.5rem
  }
  .about{
    padding: 2rem;
    margin-left: 1.5rem;
  }
  #about-sub{
  font-size: 18px;
  }
  
}
